# App Environment
ENVIRONMENT="development" # development | staging | production
DEBUG=True
LOG_LEVEL="INFO"

# Supabase DB Connection (SECRET!)
# DATABASE_URL -> Pake POOLER (port 6543) buat aplikasi (Cloud Run, local dev)
# DIRECT_URL -> Pake koneksi LANGSUNG (port 5432) buat migrasi (Supabase CLI)
DATABASE_URL="postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres"

# Firebase Admin SDK (SECRET!)
# Path ke file JSON service account yang lu download
GOOGLE_APPLICATION_CREDENTIALS="./serviceAccountKey.json"

# Gemini API Key (SECRET!)
GEMINI_API_KEY="xxx"

# CORS Origin
# Untuk local development, sesuaikan port frontend
CORS_ORIGIN="http://localhost:5173"

GOOGLE_GEOCODING_API_KEY="xxx"